.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .containerButtons {
    display: flex;
    gap: 10px;

  }

  .startButton {
    background: #f0f0f0;
    border: none;
    margin-top: 20px;
    padding: 6px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
      background: #dadada;
    }
  }

  .textGame {
    margin-top: 20px;
  }
}

.button {
  width: 120px;
  height: 120px;
}

.red {
  background-color: darken(#e22a2a, 20%);
  border-radius: 199px 10px 10px 10px;

  &.active {
    background-color: #e22a2a;
  }
}

.blue {
  background-color: darken(#21a892, 20%);
  border-radius: 10px 199px 10px 10px;

  &.active {
    background-color: #21a892;
  }
}

.green {
  background-color: darken(#44ac1b, 20%);
  border-radius: 10px 10px 10px 199px;
  
  &.active {
    background-color: #44ac1b;
  }
}

.yellow {
  background-color: darken(#ffe920, 20%);
  border-radius: 10px 10px 199px 10px;
  
  &.active {
    background-color: #ffe920;
  }
}